/* setup up color scheme */
:root {
    --main-color: hsl(228, 28%, 37%);
    --bg-color: hsl(49, 28%, 96%);
    --text-color: hsl(228, 28%, 17%);
    --accent-dark-color: hsl(228, 28%, 23%);
    --accent-light-color: hsl(228, 28%, 60%);
    --link-color: hsl(349, 28%, 37%);
}

html {
    scrollbar-gutter: stable;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
}

/* General containers*/
.main-container {
    line-height: 125%;
    max-width: 960px;
    margin: 0 auto;
    font-family: Georgia, serif;
    color: var(--text-color);
    font-size: 18px
}

.main-container a,
.main-container a:visited {
    color: var(--link-color);
    text-decoration: none
}

.main-container a:hover {
    text-decoration: underline dotted
}

.main-container a:active {
    text-decoration: underline
}

.content-container {
    padding: 10px
}


/* Collapsibles */

.mainDetails {
    margin: 0px auto -5px
}

.mainDetails[open] {
    margin: 0px auto
}

.mainDetails>summary {
    display: block;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    margin: 10px auto;
}

.mainDetails[open]>summary {
    display: block;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    margin: 10px auto 7px;
}

.mainDetails ul {
    margin: 0px auto 10px
}

.secondaryDetails {
    margin: 0px auto -5px
}

.secondaryDetails[open] {
    margin: 0px auto -5px
}

.secondaryDetails[open]>summary {
    display: block;
    text-decoration: underline;
    font-weight: normal;
    font-style: italic;
    cursor: pointer;
    margin: 7px auto 5px;
}

.secondaryDetails>summary {
    display: block;
    text-decoration: underline;
    font-weight: normal;
    font-style: italic;
    cursor: pointer;
    margin: 7px auto;
}

.secondaryDetails ul{
    list-style-type: "-  ";
}
/* Headers and navigation*/
.banner-header {
    background-image: linear-gradient(rgba(248, 247, 242, 0.5), rgba(248, 247, 242, 0.8));
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px
}

.leftheader {
    margin-left: 10px;
    text-align: left;
    text-shadow:
         .5px  .5px 2px var(--bg-color),
        -.5px  .5px 2px var(--bg-color),
         .5px -.5px 2px var(--bg-color),
        -.5px -.5px 2px var(--bg-color)
}

.leftheader a,
.leftheader a:visited,
.leftheader a:active,
.leftheader a:hover {
    color: var(--main-color);
    text-decoration: none;
}

.rightheader {
    text-align: right;
}

.rightheader a,
.rightheader a:visited {
    color: var(--bg-color);
    text-decoration: none;
}

.rightheader a:hover {
    color: var(--bg-color);
    text-decoration: underline dotted
}

.rightheader a:active {
    color: var(--bg-color);
    text-decoration: underline
}

.rightheader nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.rightheader nav ul li a,
.rightheader nav ul li a:visited{
    background-color: var(--main-color);
    color: var(--bg-color);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.rightheader nav ul li:first-child a {
    border-radius: 3px 0 0 3px;
}

.rightheader nav ul li:last-child a {
    border-radius: 0 3px 3px 0;
}

.rightheader nav ul li:not(:first-child) a{
    border-left: 1px solid var(--accent-dark-color)
}

.rightheader nav ul li:not(:last-child) a {
    border-right: 1px solid var(--accent-dark-color)
}

.rightheader nav ul li a:active,
.rightheader nav ul li a:hover {
    background-color: var(--accent-dark-color);
}


/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px 10px
}

.leftfooter,
.rightfooter {
    padding: 10px 0px 10px;
}

.leftfooter {
    text-align: left;
}

.rightfooter {
    text-align: right;
}

/* text setting */
h1 {
    color: var(--main-color);
    margin: 2px auto 10px
}

h2 {
    color: var(--main-color);
    margin: 5px auto 5px
}

h3 {
    color: var(--main-color);
    margin: 0px auto -5px;
}

.name-subtitle {
    margin: 5px auto 5px;
}

.subtitle {
    font-style: italic;
    margin: -5px auto 5px
}

.footer-p {
    margin: 5px auto 0px;
}

br {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* date lines */
.flexspan {
    display: flex;
    justify-content: space-between;
}

.date {
    font-size: .9em;
    font-style: italic;
}

/* hlines */
.hline {
    background-color: var(--main-color);
    width: 100%;
}

.wline {
    height: .2em;
    background-color: var(--bg-color);
    width: 100%;
    margin: 0px;
}