<div class="hline" style="height:6px"></div>
<div class="footer">
    <div class="leftfooter">
        <h3>Contact:</h3>
        <div class="footer-p">
            <em>e-mail</em>: mlau [at] unisa.it
            <!--<em>personal e-mail</em>: matthijs.lau [at] gmail.com-->
        </div>
    </div>

    <div class="rightfooter">
        <h3>Links:</h3>
        <div class="footer-p">
            <a href="https://www.linkedin.com/in/matthijslau" target="_blank" rel="noopener noreferrer">LinkedIn</a><br>
            <!--<a href="" target="_blank" rel="noopener noreferrer">Arxiv</a><br>-->
            <!--<a href="" target="_blank" rel="noopener noreferrer">Google Scholar</a><br>-->
            <!--<a href="" target="_blank" rel="noopener noreferrer">Orcid</a><br>-->
            <!--<a href="" target="_blank" rel="noopener noreferrer">Scopus</a><br>-->
            <!--<a href="" target="_blank" rel="noopener noreferrer">ResearchGate</a>-->
        </div>
    </div>
</div>
<div class="hline" style="height:6px"></div>