<div class="hline" style="height:6px"></div>
<div class="footer">
    <div class="leftfooter">
        <h3>Contact:</h3>
        <p>
            <em>e-mail</em>: mlau [at] unisa.it
            <!--<em>personal e-mail</em>: matthijs.lau [at] gmail.com-->
        </p>
    </div>

    <div class="rightfooter">
        <h3>Links:</h3>
        <p>
            <a href="https://www.linkedin.com/in/matthijslau">LinkedIn</a><br>
            <!--<a href="">Arxiv</a><br>-->
            <!--<a href="">Google Scholar</a><br>-->
            <!--<a href="">Orcid</a><br>-->
            <!--<a href="">Scopus</a><br>-->
            <!--<a href="">ResearchGate</a>-->
        </p>
    </div>
</div>
<div class="hline" style="height:6px"></div>