<div class="hline" style="height:6px"></div>
<div class="header">
    <div class="leftheader">
        <h1>
            <a href="#" class="nav-link" data-page="aboutme" id="name">
                Matthijs Lau
            </a>
        </h1>

        <div class="name-subtitle">
            PhD student in Mathematics at L'Università degli Studi di Salerno, Italy.
        </div>
    </div>

    <div class="rightheader">
        <nav>
            <ul>
                <li><a href="#" class="nav-link" data-page="aboutme">Home</a></li>
                <li><a href="#" class="nav-link" data-page="research">Research</a></li>
                <li><a href="#" class="nav-link" data-page="teaching">Teaching</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="hline" style="height:6px"></div>